include mixin
- var colorOne = 'light-blue'
- var colorTwo = 'orange'
- var colorThree = 'green'
- var colorFour = 'purple'
doctype html
html(ng-app="designs")
  head
    meta(charset="utf-8")
    title Conveyor Demo
    // bower:css
    link(rel='stylesheet', href='../../bower_components/angular-material/angular-material.css')
    link(rel='stylesheet', href='../../bower_components/angular-toastr/dist/angular-toastr.css')
    link(rel='stylesheet', href='../../bower_components/animate.css/animate.css')
    link(rel='stylesheet', href='../../bower_components/Materialize/bin/materialize.css')
    link(rel='stylesheet', href='../../bower_components/components-font-awesome/css/font-awesome.css')
    // endbower
    // bower:js
    script(src='../../bower_components/lodash/lodash.js')
    script(src='../../bower_components/moment/moment.js')
    script(src='../../bower_components/jquery/dist/jquery.js')
    script(src='../../bower_components/angular/angular.js')
    script(src='../../bower_components/angular-animate/angular-animate.js')
    script(src='../../bower_components/angular-sanitize/angular-sanitize.js')
    script(src='../../bower_components/angular-messages/angular-messages.js')
    script(src='../../bower_components/restangular/dist/restangular.js')
    script(src='../../bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='../../bower_components/angular-aria/angular-aria.js')
    script(src='../../bower_components/angular-material/angular-material.js')
    script(src='../../bower_components/angular-toastr/dist/angular-toastr.tpls.js')
    script(src='../../bower_components/Materialize/bin/materialize.js')
    script(src='../../bower_components/jquery-watch-dom/jquery-watch.js')
    script(src='../../bower_components/dom-to-image/src/dom-to-image.js')
    // endbower
    
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    style.
      .icon-block { padding: 0 15px; }
      .icon-block .material-icons { font-size: inherit; }

  body
    script.
      angular.module('designs', [
        'ngAnimate',
        'ngSanitize',
        'ngMessages',
        'restangular',
        'ui.router',
        'ngMaterial',
        'toastr'])
    block body
