extends layout
block body
  script.
     //$( $('.dropdown-button').dropdown() )
  .navbar-fixed: nav.grey.darken-1: .nav-wrapper.container
    .right техническая панель: Клиент
    div
      span
        a.breadcrumb(href="./lead.html") Lead
      span
        a.breadcrumb(href="#") 
        a.breadcrumb(href="./index.html") Landing
        a.breadcrumb(href="./search.html") Search
        a.breadcrumb(href="./order.html") Order
        a.breadcrumb(href="./payment.html") Payment
        a.breadcrumb(href="./order-history.html") Orders History
        a.breadcrumb(href="#") 
  .container
    .section
      h3.center Lead
      p.flow-text.center Не является страницей приложения.
      p.flow-text.center Это любое место, содержащее ссылку на проект:
      .center
        .chip реклама
        .chip страница в соцсетях
        .chip поисковая выдача
        .chip etc
      hr
      br
      br
          
      .row.center: a.btn-large.waves-effect.waves-light(class=colorTwo, href='./index.html') Перейти в приложение
